body {
  background: rgb(58, 58, 58);
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */

header {
  background-color: black;
  background-image: url("../images/the_valley.jpg");
  background-size: 100%;
  background-position: center;
  height: 400px;
  padding: 20px;
  text-align: center;
}

header .mobile {
  display: none;
}

header a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 40px;
}

header a:hover {
  text-decoration: underline;
}

header .profile_pic a {
  background-image: url("../images/james_profile_pic_1.jpg");
  background-size: 400px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 300px;
  position: relative;
  text-indent: -9999999px;
  top: -40px;
  width: 300px;
  border: 1px solid white;
  /* Makes it a circle */
  border-radius: 50%;
  /* Gives it a nice shadow */
  box-shadow: gray 0 0 10px;
}

/* Responsive Rules */
@media screen and (max-width: 950px) {
  header {
    height: 300px;
  }
  header .desktop {
    display: none;
  }
  header .mobile {
    display: inline-block;
  }
  header .profile_pic a {
    background-size: 300px;
    height: 230px;
    width: 230px;
  }
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

/* FEATURES */

.features {
  background: white;
  color: gray;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.features figure {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
}

.features figure img {
  border: 1px solid white;
  /* Makes it a circle */
  border-radius: 20%;
  /* Gives it a nice shadow */
  box-shadow: gray 0 0 10px;
  width: 300px;
}

.logo {
  border-radius: 20%;
}

/* Responsive Rules */

/* @media screen and (max-width: 950px) {
  .features {
    width: 200px;
  }
} */

/* FOOTER */

footer {
  background: black;
  color: gray;
  font-size: 12px;
  padding: 20px 20px;
  text-align: center;
}

footer a {
  color: orange;
  text-decoration: none;
}
footer a:hover {
  text.decoration: underline;
}
footer a:visited {
  color: purple;
}
